<h1>{{'sellers.Title' | translate}}</h1>
<div class="seller-row-1-container">
	<div>
		<md-button class="md-raised" ng-click="openDialog($event)">{{'sellers.AddButton' | translate}}</md-button>
	</div>
</div>
<div class="container seller-row-2-container">
	<div>
		<form>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-search"></i>
					</div>
					<input type="text" class="form-control" placeholder="{{'sellers.SearchText' | translate}}" ng-model="searchWord" autofocus />
				</div>
			</div>
		</form>
	</div>
	<table class="table table-bordered table-striped" ng-hide="loadingListError">
		<thead>
			<tr>
				<th>
					<a ng-click="sortType = 'name'; sortReverse = !sortReverse">
						<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
						{{'sellers.Name' | translate}}
					</a>
				</th>
				<th>
					<a ng-click="sortType = 'category'; sortReverse = !sortReverse">
						<span ng-show="sortType == 'category' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'category' && sortReverse" class="fa fa-caret-up"></span>
						{{'sellers.Category' | translate}}
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
		    <tr ng-repeat="seller in listOfSellers | orderBy:sortType:sortReverse | filter: searchWord track by $index">			
				<td>
					<a ng-click="getSellerDetail(seller.id)">{{seller.name}}</a>
						<i class="fa fa-pencil-square-o pull-right" ng-click="editSeller($event, seller)">
							<md-tooltip md-direction="top">
								{{'sellers.EditSeller' | translate}}
							</md-tooltip>
						</i>
				</td>
				<td>{{seller.category}}</td>
			</tr>
		</tbody>
	</table>
	<p ng-show="loadingListError">{{'sellers.Messages.LoadFailed' | translate}}</p>
</div>