<md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="black">
        <md-tab label="Product">
            <md-content class="md-padding">
                <h1 class="md-display-2">{{'producttabs.TabProduct' | translate}}</h1>
                <product ng-repeat="product in productList"></product>
            </md-content>
        </md-tab>
        <md-tab label="Top 10">
            <md-content class="md-padding">
                <h1 class="md-display-2">{{'producttabs.TabTop10' | translate}}</h1>
                <product ng-repeat="product in productList | orderBy: 'price' | limitTo: 10 "></product>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>