<!-- Here comes information about the seller -->
<div class="seller-detail-container">
<div id="seller-detail" class="seller-detail-item">
	   <md-content class="md-padding" layout-xs="column" layout="row">
       <div flex-gt-xs="100" layout="column">
            <md-card class="card">
                <md-card-title>
                    <md-card-title-text>
                        <span class ="md-headline">{{'sellerdetails.Info' | translate}}</span>
                        <span class "md-subhead">{{seller.name}}</span>
                        <span class="md-subhead">{{seller.category}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"><img src={{seller.imagePath}}> </div>
                    </md-card-title-media>
                </md-card-title>
            </md-card> 
       </div>   
    </div>
    <div class="seller-detail-item">
        <md-button class="md-raised" ng-click="openDialog($event)">{{'sellerdetails.CreateProduct' | translate}}</md-button>
    </div>
</div>

<!-- Here comes the product tabs, both for all products and also for top 10 -->
<div ng-include="'components/product-tabs/product-tabs.html'" ng-controller="ProductTabController"></div>


